<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Sign the Guest Book</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"> 
    <link href="{{ url_for('static', filename='css/theme.css') }}" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <form class="" method="post" action="/process">
        <h2 class="form-signin-heading">Isi Buku Tamu</h2>
        <div class="form-group">
          <label for="inputName" class="sr-only">Nama:</label>
          <input type="text" id="inputName" name="name" class="form-control" placeholder="Name" required autofocus>
        </div>
        <div class="form-group">
          <label for="comment" class="sr-only">Komentar:</label>
            <textarea class="form-control" name="comment" rows="5" id="comment" placeholder="Comment" required></textarea>
        </div>
        <button class="btn btn-lg btn-primary btn-block w-100 mt-3" type="submit">Isi Buku</button>
      </form>
    </div>

  </body>
</html>
